

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  width: 100vw;
  background-color: #a3db7e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  box-sizing: border-box; /* penting agar padding tidak melebihi lebar */
}

header h1 {
  margin: 0;
  color: white;
}

header input {
  width: 300px;
  padding: 8px;
}

.breadcrumb {
  margin: 16px 0;
  font-size: 14px;
}

.select-all {
  display: flex;
  align-items: center;
  background: white;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.total-price {
  background: white;
  padding: 16px;
  margin-top: 24px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.checkout-button {
  width: 100%;
  padding: 16px;
  background-color: #3e8e41;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
}
